#right {
    width: 33.5%;
    height: 40%;
    position: absolute;
    left: 58.6%;
    top: 38%;
}

#backgroundRight {
    width: 46%;
    height: 63%;
    position: absolute;
    left: 53%;
    top: 26%;
    background-image: url(graphics/pergamin3.png);
    background-size: 100% 100%;
}

.statSize {
    width: 96%;
    height: 16%;
    margin: 5%;
    font-size: 3vh;
    font-family: 'Pixel';
}

.valueSize {
    text-align: right;
    margin-top: -6%;
    font-size: 1.5vw;
}

.plus {
    background-image: url(../projekt_grafika/Inne/plusBtn.gif);
    width: 10%;
    height: 10%;
    background-size: 100% 100%;
    position: absolute;
    top: -2%;
    left: 106%;
    border: 2px solid gray;
    background-color: silver;
    border-radius: 20%;
}

.plus:hover {
    background-color: rgb(150, 150, 150);
}

.tooltip2 {
    position: absolute;
    width: auto;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    background-color: yellow;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    font-size: 2.3vh;
    color: red;
    font-family: 'Pixel';
    font-weight: bold;
    letter-spacing: 0.3vh;
    width: 8vh;
    height: 2.5vh;
    margin-top: 4.2vh;
    margin-left: -3vh;
}

.plus:hover .tooltip2 .tooltiptext2 {
    visibility: visible;
}